.container{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 18rem;
    justify-content: center;
    margin: 2rem .5rem;
    margin: 0px;
    padding: 0px;
    border: none !important ;

}
.btn{
    height: max-content;
    width: 5rem;
}


.first{
    border-right: 2px solid red !important;
}
.second{
    border-right: 2px solid red !important;
}

.middle{
    border-bottom: 2px solid red !important;
    border-top: 2px solid red !important;
}
.bottom{
    border-bottom-width:0px !important
}