.container{
    display: flex;
    height: 60vh ;
    width: 60vh !important;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
    background-color:  rgb(0, 200, 172);
}
.winner{
    display: grid !important;
}

.btn{
    height: 3rem;
    width: 5rem;
}


.first{
    border-right: 2px solid rgb(0, 169, 147) !important;
}
.second{
    border-right: 2px solid rgb(0, 169, 147) !important;
}

.middle{
    border-bottom: 2px solid rgb(0, 169, 147) !important;
    border-top: 2px solid rgb(0, 169, 147) !important;
}
.button{
    border-bottom-width:0px !important;
}


.win{
    font-size: 30vh;
}
.btn{
    font-size: 2rem !important;
}
.reset{
    font-size: 1rem !important;
    justify-content: center;
    text-align: center;
    color: rgb(0, 198, 187) !important;
    box-shadow: none !important;
    width: 20%;
}

.xo{
    display:flex !important;
}