
.container{
    display: grid;
    height: 50vh ;
    width: 50vh !important;
    text-align: center;
    background-color:  rgb(0, 200, 172);
}
.winner{
    display: grid !important;
}
table{
    height: auto!important;
    width   : auto!important;
}
.btn{
    margin-top: 10%;
    height:7rem;
    width: 6rem;
}

.board{
    margin-top: 10%;
    height: auto !important;
    width: auto !important;
    display: grid;
    text-align: center;
}
.main{
    margin-top: 10%;
    height: auto !important;
    width: auto !important;
    display: grid;
    text-align: center; 
}
.first{
    border-right: 2px solid rgb(0, 169, 147) !important;
}
.second{
    border-right: 2px solid rgb(0, 169, 147) !important;
}

.middle{
    border-bottom: 2px solid rgb(0, 169, 147) !important;
    border-top: 2px solid rgb(0, 169, 147) !important;
}
.button{
    border-bottom-width:0px !important;
}


.win{
    font-size: 30vh;
}
.btn{
    font-size: 6rem !important;
   
}
.reset{ 
    margin: 0% !important;
    font-size: 1.5rem !important;
    justify-content: center;
    color: rgb(0, 198, 187) !important;
    box-shadow: none !important;
    width: 20rem;
}

.xo{
    display:flex !important;
}

.nextPlayer{
    color: rgb(175, 171, 186);
}